BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 120
