build/
out/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CMakeUserPresets.json
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.sln
.vscode/*
*.code-workspace
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.a
*.lib
.idea/
*.swp
*.swo
*~
.DS_Store
*.pdb
*.ilk
*.log
discove/build/generated/